In [1]:
import polars as pl
from warnings import filterwarnings

filterwarnings('ignore')

<strong style="color:#5e17eb"> Parquet </strong>
- Polars + Parquet == More speed
- So we converted all json -> csv -> parquet file

In [2]:
df = pl.read_parquet(r"C:\Users\Rudra\Desktop\yelp\parquet-data\business.parquet")

In [3]:
df.sample()

shape: (1, 14)
┌────────────┬────────────┬────────────┬────────┬───┬─────────┬────────────┬───────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city   ┆ … ┆ is_open ┆ attributes ┆ categorie ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---    ┆   ┆ ---     ┆ ---        ┆ s         ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str    ┆   ┆ i64     ┆ str        ┆ ---       ┆ str       │
│ str        ┆            ┆            ┆        ┆   ┆         ┆            ┆ str       ┆           │
╞════════════╪════════════╪════════════╪════════╪═══╪═════════╪════════════╪═══════════╪═══════════╡
│ VK5NEKDHnZ ┆ Spring     ┆ 3350       ┆ Spring ┆ … ┆ 1       ┆ {'Restaura ┆ Golf,     ┆ {'Monday' │
│ G8YcAw2Jpa ┆ Hollow     ┆ Schuylkill ┆ City   ┆   ┆         ┆ ntsDeliver ┆ Venues &  ┆ : '0:0-0: │
│ Ww         ┆ Golf Club  ┆ Rd         ┆        ┆   ┆         ┆ y':        ┆ Event     ┆ 0',       │
│            ┆            ┆            ┆        ┆   ┆         ┆ 'False…    ┆ Spaces,   ┆ 'Tuesday… │
│            ┆            ┆            ┆        ┆   ┆         ┆            ┆ E…        ┆           │
└────────────┴────────────┴────────────┴────────┴───┴─────────┴────────────┴───────────┴───────────┘

In [6]:
user_df = pl.scan_parquet(r"C:\Users\Rudra\Desktop\yelp\parquet-data\yelp_user.parquet")

# <strong style="color:#5e17eb"> I. Selecting Data </strong>

## <strong style="color:#5e17eb">  Column Selection </strong>

In [13]:
df.select([
    'business_id',
    'name',
    'address',
    'city',
    'state'
]).sample(2)

shape: (2, 5)
┌────────────────────────┬──────────────────────┬─────────────────────┬──────────────┬───────┐
│ business_id            ┆ name                 ┆ address             ┆ city         ┆ state │
│ ---                    ┆ ---                  ┆ ---                 ┆ ---          ┆ ---   │
│ str                    ┆ str                  ┆ str                 ┆ str          ┆ str   │
╞════════════════════════╪══════════════════════╪═════════════════════╪══════════════╪═══════╡
│ vWF2QhXj6tzN1hVmBFRNOw ┆ Tang Thai Restaurant ┆ 6190 Ridge Ave      ┆ Philadelphia ┆ PA    │
│ 2yWDP7NDRVEVSsJE1LacVw ┆ World Deli           ┆ 4414 Clearview Pkwy ┆ Metairie     ┆ LA    │
└────────────────────────┴──────────────────────┴─────────────────────┴──────────────┴───────┘

In [15]:
df[['stars','review_count','is_open','attributes']].sample(1)

shape: (1, 4)
┌───────┬──────────────┬─────────┬─────────────────────────────────┐
│ stars ┆ review_count ┆ is_open ┆ attributes                      │
│ ---   ┆ ---          ┆ ---     ┆ ---                             │
│ f64   ┆ i64          ┆ i64     ┆ str                             │
╞═══════╪══════════════╪═════════╪═════════════════════════════════╡
│ 3.0   ┆ 68           ┆ 1       ┆ {'OutdoorSeating': 'True', 'Re… │
└───────┴──────────────┴─────────┴─────────────────────────────────┘

## <strong style="color:#5e17eb">  Row Selection </strong>

In [19]:
df[55:58]

shape: (3, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ xM6LoUcnpD ┆ Fairfield ┆ 719 E     ┆ Kennett   ┆ … ┆ 1       ┆ {'Busines ┆ Hotels,   ┆ null      │
│ pMBzXs_7dX ┆ Inn &     ┆ Baltimore ┆ Square    ┆   ┆         ┆ sAcceptsC ┆ Hotels &  ┆           │
│ Ag         ┆ Suites    ┆ Pike      ┆           ┆   ┆         ┆ reditCard ┆ Travel,   ┆           │
│            ┆           ┆           ┆           ┆   ┆         ┆ s':…      ┆ Event…    ┆           │
│ txyXRytGjw ┆ Smoothie  ┆ 1070 E    ┆ Tucson    ┆ … ┆ 1       ┆ {'Restaur ┆ Vitamins  ┆ {'Monday' │
│ OXvS8s4sc- ┆ King      ┆ Tucson    ┆           ┆   ┆         ┆ antsPrice ┆ & Supplem ┆ : '0:0-0: │
│ WA         ┆           ┆ Marketpla ┆           ┆   ┆         ┆ Range2':  ┆ ents, Ice ┆ 0',       │
│            ┆           ┆ ce Blvd   ┆           ┆   ┆         ┆ '2'…      ┆ Cr…       ┆ 'Tuesday… │
│ DQ7PyYlp2b ┆ LensCraft ┆ 1150      ┆ Plymouth  ┆ … ┆ 1       ┆ {'Busines ┆ Ophthalmo ┆ {'Monday' │
│ X96WZa7Tca ┆ ers       ┆ Plymouth  ┆ Meeting   ┆   ┆         ┆ sAcceptsC ┆ logists,  ┆ : '10:0-2 │
│ WQ         ┆           ┆ Meeting   ┆           ┆   ┆         ┆ reditCard ┆ Eyewear & ┆ 1:0',     │
│            ┆           ┆ Mall, St… ┆           ┆   ┆         ┆ s':…      ┆ Op…       ┆ 'Tuesd…   │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘

In [ ]:
# Select the row start from 12 and take 3 rows
# slice(where to start, how many to select)
df.slice(12,3)

shape: (3, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ il_Ro8jwPl ┆ Denny's   ┆ 8901 US   ┆ Indianapo ┆ … ┆ 1       ┆ {'Restaur ┆ American  ┆ {'Monday' │
│ Hresjw9EGm ┆           ┆ 31 S      ┆ lis       ┆   ┆         ┆ antsReser ┆ (Traditio ┆ : '6:0-22 │
│ Bg         ┆           ┆           ┆           ┆   ┆         ┆ vations': ┆ nal),     ┆ :0',      │
│            ┆           ┆           ┆           ┆   ┆         ┆ 'F…       ┆ Restau…   ┆ 'Tuesda…  │
│ jaxMSoInw8 ┆ Adams     ┆ 15 N      ┆ Clearwate ┆ … ┆ 1       ┆ {'ByAppoi ┆ General   ┆ {'Monday' │
│ Poo3XeMJt8 ┆ Dental    ┆ Missouri  ┆ r         ┆   ┆         ┆ ntmentOnl ┆ Dentistry ┆ : '7:30-1 │
│ lQ         ┆           ┆ Ave       ┆           ┆   ┆         ┆ y':       ┆ ,         ┆ 5:30',    │
│            ┆           ┆           ┆           ┆   ┆         ┆ 'True'}   ┆ Dentists, ┆ 'Tues…    │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ H…        ┆           │
│ 0bPLkL0Qhh ┆ Zio's     ┆ 2575 E    ┆ Largo     ┆ … ┆ 0       ┆ {'Outdoor ┆ Food,     ┆ {'Monday' │
│ PO5kt1_EXm ┆ Italian   ┆ Bay Dr    ┆           ┆   ┆         ┆ Seating': ┆ Delis,    ┆ : '10:0-1 │
│ NQ         ┆ Market    ┆           ┆           ┆   ┆         ┆ 'False',  ┆ Italian,  ┆ 8:0',     │
│            ┆           ┆           ┆           ┆   ┆         ┆ 'R…       ┆ Bakeries… ┆ 'Tuesd…   │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘

## <strong style="color:#5e17eb">  Cell Selection </strong>

- Row + Column

In [25]:
df[4:9:2, ['name', 'city']]

shape: (3, 2)
┌──────────────────────────┬────────────┐
│ name                     ┆ city       │
│ ---                      ┆ ---        │
│ str                      ┆ str        │
╞══════════════════════════╪════════════╡
│ Perkiomen Valley Brewery ┆ Green Lane │
│ Famous Footwear          ┆ Brentwood  │
│ Tsevi's Pub And Grill    ┆ Affton     │
└──────────────────────────┴────────────┘

## <strong style="color:#5e17eb"> Boolean Row Filtering </strong>

In [40]:
df.filter(
    (pl.col("stars") > 4.2),
    (pl.col("city") == "Green Lane"),
    (pl.col("is_open") == 1)
)

shape: (6, 14)
┌────────────┬────────────┬────────────┬───────┬───┬─────────┬────────────┬────────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city  ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ i64     ┆ str        ┆ str        ┆ str       │
│ str        ┆            ┆            ┆       ┆   ┆         ┆            ┆            ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═════════╪════════════╪════════════╪═══════════╡
│ mWMc6_wTdE ┆ Perkiomen  ┆ 101 Walnut ┆ Green ┆ … ┆ 1       ┆ {'Business ┆ Brewpubs,  ┆ {'Wednesd │
│ 0EUBKIGXDV ┆ Valley     ┆ St         ┆ Lane  ┆   ┆         ┆ AcceptsCre ┆ Breweries, ┆ ay': '14: │
│ fA         ┆ Brewery    ┆            ┆       ┆   ┆         ┆ ditCards': ┆ Food       ┆ 0-22:0',  │
│            ┆            ┆            ┆       ┆   ┆         ┆ …          ┆            ┆ 'Th…      │
│ 3H6LFT4Pgv ┆ Green Lane ┆ 3015 Main  ┆ Green ┆ … ┆ 1       ┆ null       ┆ Emergency  ┆ {'Monday' │
│ 0ayy8HZPUF ┆ Veterinary ┆ St         ┆ Lane  ┆   ┆         ┆            ┆ Pet        ┆ : '9:0-18 │
│ HQ         ┆ Hospital   ┆            ┆       ┆   ┆         ┆            ┆ Hospital,  ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆            ┆ Veteri…    ┆ 'Tuesda…  │
│ 4mYPqTpCjH ┆ Green Lane ┆ 3113 Main  ┆ Green ┆ … ┆ 1       ┆ {'Restaura ┆ Acai       ┆ {'Monday' │
│ qx8Ee4TIER ┆ Naturals   ┆ St         ┆ Lane  ┆   ┆         ┆ ntsDeliver ┆ Bowls,     ┆ : '0:0-0: │
│ XA         ┆            ┆            ┆       ┆   ┆         ┆ y':        ┆ Coffee &   ┆ 0',       │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'True'…    ┆ Tea, Juic… ┆ 'Wednesd… │
│ CNGE5oRnF7 ┆ Macoby Run ┆ 5275       ┆ Green ┆ … ┆ 1       ┆ {'BikePark ┆ Event      ┆ {'Monday' │
│ 9TGImAIC1V ┆ Golf       ┆ McLean     ┆ Lane  ┆   ┆         ┆ ing':      ┆ Planning & ┆ : '7:0-19 │
│ AQ         ┆ Course     ┆ Station Rd ┆       ┆   ┆         ┆ 'True',    ┆ Services,  ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'GoodF…    ┆ Gol…       ┆ 'Tuesda…  │
│ zbVfCjygZ5 ┆ Van Pelt   ┆ 8502       ┆ Green ┆ … ┆ 1       ┆ {'Restaura ┆ Food, Rest ┆ null      │
│ W6Qj5cTVF5 ┆ Hot Dog    ┆ Memorial   ┆ Lane  ┆   ┆         ┆ ntsDeliver ┆ aurants,   ┆           │
│ 1Q         ┆            ┆ Dr         ┆       ┆   ┆         ┆ y':        ┆ Food       ┆           │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'False…    ┆ Stands…    ┆           │
│ 5XRQJm1HBV ┆ Green Lane ┆ 2144       ┆ Green ┆ … ┆ 1       ┆ {'GoodForK ┆ Fishing,   ┆ {'Monday' │
│ K4jnIG0aAj ┆ Park       ┆ Snyder Rd  ┆ Lane  ┆   ┆         ┆ ids':      ┆ Boating,   ┆ : '9:0-19 │
│ Vw         ┆            ┆            ┆       ┆   ┆         ┆ 'True',    ┆ Active     ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'Busin…    ┆ Life,…     ┆ 'Tuesda…  │
└────────────┴────────────┴────────────┴───────┴───┴─────────┴────────────┴────────────┴───────────┘

## <strong style="color:#5e17eb"> Conditional Selection </strong>

In [43]:
df.filter(
    (pl.col("stars") > 4.2) &
    (pl.col("city") == "Green Lane")
)

shape: (6, 14)
┌────────────┬────────────┬────────────┬───────┬───┬─────────┬────────────┬────────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city  ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ i64     ┆ str        ┆ str        ┆ str       │
│ str        ┆            ┆            ┆       ┆   ┆         ┆            ┆            ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═════════╪════════════╪════════════╪═══════════╡
│ mWMc6_wTdE ┆ Perkiomen  ┆ 101 Walnut ┆ Green ┆ … ┆ 1       ┆ {'Business ┆ Brewpubs,  ┆ {'Wednesd │
│ 0EUBKIGXDV ┆ Valley     ┆ St         ┆ Lane  ┆   ┆         ┆ AcceptsCre ┆ Breweries, ┆ ay': '14: │
│ fA         ┆ Brewery    ┆            ┆       ┆   ┆         ┆ ditCards': ┆ Food       ┆ 0-22:0',  │
│            ┆            ┆            ┆       ┆   ┆         ┆ …          ┆            ┆ 'Th…      │
│ 3H6LFT4Pgv ┆ Green Lane ┆ 3015 Main  ┆ Green ┆ … ┆ 1       ┆ null       ┆ Emergency  ┆ {'Monday' │
│ 0ayy8HZPUF ┆ Veterinary ┆ St         ┆ Lane  ┆   ┆         ┆            ┆ Pet        ┆ : '9:0-18 │
│ HQ         ┆ Hospital   ┆            ┆       ┆   ┆         ┆            ┆ Hospital,  ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆            ┆ Veteri…    ┆ 'Tuesda…  │
│ 4mYPqTpCjH ┆ Green Lane ┆ 3113 Main  ┆ Green ┆ … ┆ 1       ┆ {'Restaura ┆ Acai       ┆ {'Monday' │
│ qx8Ee4TIER ┆ Naturals   ┆ St         ┆ Lane  ┆   ┆         ┆ ntsDeliver ┆ Bowls,     ┆ : '0:0-0: │
│ XA         ┆            ┆            ┆       ┆   ┆         ┆ y':        ┆ Coffee &   ┆ 0',       │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'True'…    ┆ Tea, Juic… ┆ 'Wednesd… │
│ CNGE5oRnF7 ┆ Macoby Run ┆ 5275       ┆ Green ┆ … ┆ 1       ┆ {'BikePark ┆ Event      ┆ {'Monday' │
│ 9TGImAIC1V ┆ Golf       ┆ McLean     ┆ Lane  ┆   ┆         ┆ ing':      ┆ Planning & ┆ : '7:0-19 │
│ AQ         ┆ Course     ┆ Station Rd ┆       ┆   ┆         ┆ 'True',    ┆ Services,  ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'GoodF…    ┆ Gol…       ┆ 'Tuesda…  │
│ zbVfCjygZ5 ┆ Van Pelt   ┆ 8502       ┆ Green ┆ … ┆ 1       ┆ {'Restaura ┆ Food, Rest ┆ null      │
│ W6Qj5cTVF5 ┆ Hot Dog    ┆ Memorial   ┆ Lane  ┆   ┆         ┆ ntsDeliver ┆ aurants,   ┆           │
│ 1Q         ┆            ┆ Dr         ┆       ┆   ┆         ┆ y':        ┆ Food       ┆           │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'False…    ┆ Stands…    ┆           │
│ 5XRQJm1HBV ┆ Green Lane ┆ 2144       ┆ Green ┆ … ┆ 1       ┆ {'GoodForK ┆ Fishing,   ┆ {'Monday' │
│ K4jnIG0aAj ┆ Park       ┆ Snyder Rd  ┆ Lane  ┆   ┆         ┆ ids':      ┆ Boating,   ┆ : '9:0-19 │
│ Vw         ┆            ┆            ┆       ┆   ┆         ┆ 'True',    ┆ Active     ┆ :0',      │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'Busin…    ┆ Life,…     ┆ 'Tuesda…  │
└────────────┴────────────┴────────────┴───────┴───┴─────────┴────────────┴────────────┴───────────┘

## <strong style="color:#5e17eb"> Expression based Selection </strong>

In [45]:
df.select(
   (pl.col("stars") + 10).alias("star_plus_ten")
)

shape: (150_346, 1)
┌───────────────┐
│ star_plus_ten │
│ ---           │
│ f64           │
╞═══════════════╡
│ 15.0          │
│ 13.0          │
│ 13.5          │
│ 14.0          │
│ 14.5          │
│ …             │
│ 13.0          │
│ 14.0          │
│ 13.5          │
│ 14.0          │
│ 14.5          │
└───────────────┘

## <strong style="color:#5e17eb"> Summary </strong>


**Goal: View only relevant parts of your data**

| **Sub-Topic**                    | **Description / Use**          | **Example**                                                  |
| -------------------------------- | ------------------------------ | ------------------------------------------------------------ |
| **1.1 Column Selection**         | Select one or multiple columns | `df.select(["name", "price"])`                               |
| **1.2 Row Selection (by index)** | Select rows using slicing      | `df[0:5]` or `df.slice(0, 5)`                                |
| **1.3 Cell Selection**           | Select row + column            | `df[3, "name"]`                                              |
| **1.4 Boolean Row Filtering**    | Select rows by condition       | `df.filter(pl.col("price") > 100)`                           |
| **1.5 Conditional Selection**    | Multiple conditions            | `df.filter((pl.col("price") > 50) & (pl.col("rating") > 4))` |
| **1.6 Select with `pl.col()`**   | Expression-based selection     | `df.select(pl.col("price") + 10)`                            |

# <strong style="color:#5e17eb"> II. Editing / Modifying the Data Frame </strong>

## <strong style="color:#5e17eb"> Add New Column </strong>

In [12]:
df.with_columns(
    (pl.col("review_count") + (pl.col("stars"))).alias("review_count_plus_stars") 
).select(["review_count_plus_stars"])

shape: (150_346, 1)
┌─────────────────────────┐
│ review_count_plus_stars │
│ ---                     │
│ f64                     │
╞═════════════════════════╡
│ 12.0                    │
│ 18.0                    │
│ 25.5                    │
│ 84.0                    │
│ 17.5                    │
│ …                       │
│ 16.0                    │
│ 9.0                     │
│ 11.5                    │
│ 28.0                    │
│ 13.5                    │
└─────────────────────────┘

In [6]:
# Multiple columns
df.with_columns([
    (pl.col("stars") * 2).alias("double_stars"),
    (pl.col("name").str.len_chars().alias("len_name"))
])[["double_stars", "len_name"]]

shape: (150_346, 2)
┌──────────────┬──────────┐
│ double_stars ┆ len_name │
│ ---          ┆ ---      │
│ f64          ┆ u32      │
╞══════════════╪══════════╡
│ 10.0         ┆ 24       │
│ 6.0          ┆ 13       │
│ 7.0          ┆ 6        │
│ 8.0          ┆ 18       │
│ 9.0          ┆ 24       │
│ …            ┆ …        │
│ 6.0          ┆ 12       │
│ 8.0          ┆ 20       │
│ 7.0          ┆ 17       │
│ 8.0          ┆ 24       │
│ 9.0          ┆ 7        │
└──────────────┴──────────┘

In [7]:
# single columns
df.with_columns(
     (pl.col("stars") * 2).alias("double_stars")
)["double_stars"]

shape: (150_346,)
Series: 'double_stars' [f64]
[
	10.0
	6.0
	7.0
	8.0
	9.0
	…
	6.0
	8.0
	7.0
	8.0
	9.0
]

## <strong style="color:#5e17eb">  Modify Column Values	 </strong>

In [15]:
df.with_columns(
    (pl.col("stars") + 2).alias("stars_2")
)['stars_2']

shape: (150_346,)
Series: 'stars_2' [f64]
[
	7.0
	5.0
	5.5
	6.0
	6.5
	…
	5.0
	6.0
	5.5
	6.0
	6.5
]

## <strong style="color:#5e17eb">Rename Columns  </strong>

In [18]:
df.rename({ "hours" : "week_hours"}).sample()

shape: (1, 14)
┌────────────┬────────────┬────────────┬────────┬───┬─────────┬────────────┬───────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city   ┆ … ┆ is_open ┆ attributes ┆ categorie ┆ week_hour │
│ d          ┆ ---        ┆ ---        ┆ ---    ┆   ┆ ---     ┆ ---        ┆ s         ┆ s         │
│ ---        ┆ str        ┆ str        ┆ str    ┆   ┆ i64     ┆ str        ┆ ---       ┆ ---       │
│ str        ┆            ┆            ┆        ┆   ┆         ┆            ┆ str       ┆ str       │
╞════════════╪════════════╪════════════╪════════╪═══╪═════════╪════════════╪═══════════╪═══════════╡
│ 2KUJThsDLE ┆ Uplift     ┆ 711        ┆ Carmel ┆ … ┆ 1       ┆ {'BikePark ┆ Lingerie, ┆ {'Monday' │
│ Ib8_D1x0So ┆ Intimate   ┆ Veterans   ┆        ┆   ┆         ┆ ing':      ┆ Fashion,  ┆ : '0:0-0: │
│ Kg         ┆ Apparel    ┆ Way, Ste   ┆        ┆   ┆         ┆ 'True',    ┆ Accessori ┆ 0',       │
│            ┆            ┆ 136        ┆        ┆   ┆         ┆ 'Wheel…    ┆ es…       ┆ 'Tuesday… │
└────────────┴────────────┴────────────┴────────┴───┴─────────┴────────────┴───────────┴───────────┘

## <strong style="color:#5e17eb">   Drop Columns</strong>

In [20]:
df.drop(["postal_code"]).sample()

shape: (1, 13)
┌────────────┬────────────┬────────────┬───────┬───┬─────────┬────────────┬────────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city  ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ i64     ┆ str        ┆ str        ┆ str       │
│ str        ┆            ┆            ┆       ┆   ┆         ┆            ┆            ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═════════╪════════════╪════════════╪═══════════╡
│ HUQi0RDGPg ┆ The Cipra  ┆ 6053       ┆ Boise ┆ … ┆ 0       ┆ {'GoodForK ┆ Pilates,   ┆ {'Monday' │
│ LOCNq6j30y ┆ Method     ┆ Corporal   ┆       ┆   ┆         ┆ ids':      ┆ Barre      ┆ : '9:15-1 │
│ kQ         ┆            ┆ Ln         ┆       ┆   ┆         ┆ 'False',   ┆ Classes,   ┆ 9:30',    │
│            ┆            ┆            ┆       ┆   ┆         ┆ 'ByAp…     ┆ Dance …    ┆ 'Tues…    │
└────────────┴────────────┴────────────┴───────┴───┴─────────┴────────────┴────────────┴───────────┘

## <strong style="color:#5e17eb">  Change Data Types </strong>

In [27]:
df.with_columns(
    (pl.col("stars")).cast(pl.Int32)
).schema

Schema([('business_id', String),
        ('name', String),
        ('address', String),
        ('city', String),
        ('state', String),
        ('postal_code', String),
        ('latitude', Float64),
        ('longitude', Float64),
        ('stars', Int32),
        ('review_count', Int64),
        ('is_open', Int64),
        ('attributes', String),
        ('categories', String),
        ('hours', String)])

## <strong style="color:#5e17eb">  Fill Missing Values</strong>

In [28]:
df.null_count()

shape: (1, 14)
┌─────────────┬──────┬─────────┬──────┬───┬─────────┬────────────┬────────────┬───────┐
│ business_id ┆ name ┆ address ┆ city ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours │
│ ---         ┆ ---  ┆ ---     ┆ ---  ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---   │
│ u32         ┆ u32  ┆ u32     ┆ u32  ┆   ┆ u32     ┆ u32        ┆ u32        ┆ u32   │
╞═════════════╪══════╪═════════╪══════╪═══╪═════════╪════════════╪════════════╪═══════╡
│ 0           ┆ 0    ┆ 5127    ┆ 0    ┆ … ┆ 0       ┆ 13744      ┆ 103        ┆ 23223 │
└─────────────┴──────┴─────────┴──────┴───┴─────────┴────────────┴────────────┴───────┘

In [ ]:
# fill with mean values
mean_val = df.select(pl.col("stars").mean()).item()
mean_val

3.5967235576603303

In [41]:
df.with_columns(
    (pl.col("stars").fill_null(mean_val)).alias("stars_mean")
)['stars_mean'].sample(3)

shape: (3,)
Series: 'stars_mean' [f64]
[
	3.5
	3.5
	1.5
]

In [43]:
df.with_columns(
    pl.col("stars").fill_nan(0).alias("stars_no_nan")
)['stars_no_nan'].sample(3)

shape: (3,)
Series: 'stars_no_nan' [f64]
[
	1.0
	3.5
	3.5
]

In [ ]:
# Null values fill with the unknown
df = df.with_columns(
    (pl.col("address").fill_null("Unknown")).alias("fill_address")
)

df.filter(pl.col("fill_address") == "Unknown").shape

(5127, 16)

| Fill Method           | Code Example                                             |
| --------------------- | -------------------------------------------------------- |
| Constant              | `fill_null(0)` or `fill_null("Unknown")`                 |
| Mean                  | `fill_null(df["col"].mean())` (use `.item()` to extract) |
| Forward Fill (ffill)  | `fill_null(strategy="forward")`                          |
| Backward Fill (bfill) | `fill_null(strategy="backward")`                         |
| Fill NaN (not null)   | `fill_nan(0)`                                            |

## <strong style="color:#5e17eb">   Replace Values</strong>

In [62]:
# Unknown values replace with the missing
df = df.with_columns(
    (pl.col("fill_address").replace({"Unknown" : "Missing"}))
)

df.filter(pl.col("fill_address") == "Missing").shape

(5127, 16)

## <strong style="color:#5e17eb"> Round / Format Columns  </strong>

In [ ]:
df.with_columns(
    (pl.col("stars").round())
)['stars'].sample(5)

<bound method Series.item of shape: (5,)
Series: 'stars' [f64]
[
	4.0
	4.0
	3.0
	2.0
	2.0
]>

## <strong style="color:#5e17eb"> Summary </strong>


**Goal: Change or enrich the structure/content**


| **Sub-Topic**                  | **Description / Use**              | **Example**                                                 |
| ------------------------------ | ---------------------------------- | ----------------------------------------------------------- |
| **2.1 Add New Column**         | Add derived column                 | `df.with_columns((pl.col("a") + pl.col("b")).alias("sum"))` |
| **2.2 Modify Column Values**   | Change existing column             | `df.with_columns(pl.col("price") * 2)`                      |
| **2.3 Rename Columns**         | Rename one or more columns         | `df.rename({"old": "new"})`                                 |
| **2.4 Drop Columns**           | Remove unwanted columns            | `df.drop(["extra", "useless"])`                             |
| **2.5 Change Data Types**      | Cast data to specific types        | `df.with_columns(pl.col("age").cast(pl.Int32))`             |
| **2.6 Fill Missing Values**    | Fill `null` with value or strategy | `df.fill_null(0)`                                           |
| **2.7 Replace Values**         | Replace specific values            | `df.with_columns(pl.col("status").replace("Old", "New"))`   |
| **2.8 Round / Format Columns** | Round floats or format strings     | `pl.col("score").round(2)`                                  |

# <strong style="color:#5e17eb"> III. Rearranging / Reordering </strong>

## <strong style="color:#5e17eb"> Reorder Columns  </strong>

In [74]:
df.select(["business_id", "name", "city"])

shape: (150_346, 3)
┌────────────────────────┬──────────────────────────┬───────────────┐
│ business_id            ┆ name                     ┆ city          │
│ ---                    ┆ ---                      ┆ ---           │
│ str                    ┆ str                      ┆ str           │
╞════════════════════════╪══════════════════════════╪═══════════════╡
│ Pns2l4eNsfO8kk83dixA6A ┆ Abby Rappoport, LAC, CMQ ┆ Santa Barbara │
│ mpf3x-BjTdTEA3yCZrAYPw ┆ The UPS Store            ┆ Affton        │
│ tUFrWirKiKi_TAnsVWINQQ ┆ Target                   ┆ Tucson        │
│ MTSW4McQd7CbVtyjqoe9mw ┆ St Honore Pastries       ┆ Philadelphia  │
│ mWMc6_wTdE0EUBKIGXDVfA ┆ Perkiomen Valley Brewery ┆ Green Lane    │
│ …                      ┆ …                        ┆ …             │
│ IUQopTMmYQG-qRtBk-8QnA ┆ Binh's Nails             ┆ Edmonton      │
│ c8GjPIOTGVmIemT7j5_SyQ ┆ Wild Birds Unlimited     ┆ Nashville     │
│ _QAMST-NrQobXduilWEqSw ┆ Claire's Boutique        ┆ Indianapolis  │
│ mtGm22y5c2UHNXDFAjaPNw ┆ Cyclery & Fitness Center ┆ Edwardsville  │
│ jV_XOycEzSlTx-65W906pg ┆ Sic Ink                  ┆ Apollo beach  │
└────────────────────────┴──────────────────────────┴───────────────┘

## <strong style="color:#5e17eb">  Sort Rows</strong>

In [ ]:
# sort the values in descending orders
df  = df.sort("stars", descending=True)

df['stars']

shape: (150_346,)
Series: 'stars' [f64]
[
	5.0
	5.0
	5.0
	5.0
	5.0
	…
	1.0
	1.0
	1.0
	1.0
	1.0
]

## <strong style="color:#5e17eb">Reverse Rows  </strong>

In [ ]:
# Reverse the rows
df['stars'].reverse()

shape: (150_346,)
Series: 'stars' [f64]
[
	1.0
	1.0
	1.0
	1.0
	1.0
	…
	5.0
	5.0
	5.0
	5.0
	5.0
]

## <strong style="color:#5e17eb">Drop Duplicate Rows  </strong>

In [96]:
print("Unique postal code is :",df['postal_code'].unique().shape[0])

Unique postal code is : 3362

## <strong style="color:#5e17eb"> Limit Rows </strong>

- slice()
- head()
- tail()
- sample()

In [97]:
df.slice(2, 3)

shape: (3, 16)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city    ┆ … ┆ categorie ┆ hours     ┆ fill_name ┆ fill_addr │
│ d          ┆ ---       ┆ ---       ┆ ---     ┆   ┆ s         ┆ ---       ┆ ---       ┆ ess       │
│ ---        ┆ str       ┆ str       ┆ str     ┆   ┆ ---       ┆ str       ┆ str       ┆ ---       │
│ str        ┆           ┆           ┆         ┆   ┆ str       ┆           ┆           ┆ str       │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ PSo_C1Sfa1 ┆ Indian    ┆ 662       ┆ Newtown ┆ … ┆ Pet       ┆ {'Monday' ┆ Indian    ┆ 662       │
│ 3JHjzVNW6z ┆ Walk Vete ┆ Durham Rd ┆         ┆   ┆ Services, ┆ : '8:0-19 ┆ Walk Vete ┆ Durham Rd │
│ iQ         ┆ rinary    ┆           ┆         ┆   ┆ Pet       ┆ :0',      ┆ rinary    ┆           │
│            ┆ Center    ┆           ┆         ┆   ┆ Groomers, ┆ 'Tuesda…  ┆ Center    ┆           │
│            ┆           ┆           ┆         ┆   ┆ Pe…       ┆           ┆           ┆           │
│ fvWn8oXXwb ┆ Altitude  ┆ 1301 N    ┆ Boise   ┆ … ┆ Trampolin ┆ {'Monday' ┆ Altitude  ┆ 1301 N    │
│ j2l79cochZ ┆ Trampolin ┆ Milwaukee ┆         ┆   ┆ e Parks,  ┆ : '10:0-2 ┆ Trampolin ┆ Milwaukee │
│ yw         ┆ e Park -  ┆ St        ┆         ┆   ┆ Active    ┆ 0:0',     ┆ e Park -  ┆ St        │
│            ┆ Boi…      ┆           ┆         ┆   ┆ Life      ┆ 'Tuesd…   ┆ Boi…      ┆           │
│ fSCNwMtNNQ ┆ Sierra    ┆ null      ┆ Sparks  ┆ … ┆ Musicians ┆ {'Monday' ┆ Sierra    ┆ Missing   │
│ Y9QT69Cj9f ┆ Pro       ┆           ┆         ┆   ┆ , DJs,    ┆ : '9:0-17 ┆ Pro       ┆           │
│ iA         ┆ Events    ┆           ┆         ┆   ┆ Karaoke,  ┆ :0',      ┆ Events    ┆           │
│            ┆           ┆           ┆         ┆   ┆ Event…    ┆ 'Tuesda…  ┆           ┆           │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘

## <strong style="color:#5e17eb"> Summary </strong>

 **Goal: Change how data is organized**

| **Sub-Topic**               | **Description / Use**         | **Example**                          |
| --------------------------- | ----------------------------- | ------------------------------------ |
| **3.1 Reorder Columns**     | Move column order             | `df.select(["id", "name", "price"])` |
| **3.2 Sort Rows**           | Sort rows by column           | `df.sort("rating", descending=True)` |
| **3.3 Reverse Rows**        | Flip the row order            | `df.reverse()`                       |
| **3.4 Drop Duplicate Rows** | Remove repeated rows          | `df.unique()`                        |
| **3.5 Limit Rows**          | Select top-N or bottom-N rows | `df.head(10)`, `df.tail(5)`          |

# <strong style="color:#5e17eb"> IV. Conditional Logic & Feature Engineering  </strong>

## <strong style="color:#5e17eb">   Conditional Columns</strong>

In [17]:
df = df.with_columns([
    pl.when(pl.col("stars") >= 4.5).then(pl.lit("Excellent"))\
    .when(pl.col("stars") >= 3.5).then(pl.lit("Good"))\
    .when(pl.col("stars") >= 2.5).then(pl.lit("Average"))\
    .otherwise(pl.lit("Poor"))\
    .alias("rating_label")
])

df.group_by("rating_label").agg(pl.count())

shape: (4, 2)
┌──────────────┬───────┐
│ rating_label ┆ count │
│ ---          ┆ ---   │
│ str          ┆ u32   │
╞══════════════╪═══════╡
│ Poor         ┆ 16445 │
│ Good         ┆ 57644 │
│ Average      ┆ 32769 │
│ Excellent    ┆ 43488 │
└──────────────┴───────┘

`pl.lit()` is a fundamental tool for incorporating static, constant values into dynamic Polars expressions, enabling flexible and efficient data manipulations.

## <strong style="color:#5e17eb">  Binning / Bucketing</strong>

In [128]:
df = df.with_columns([
    pl.when((pl.col("is_open") == 1) & (pl.col("review_count") > 100))
    .then(pl.lit("Active"))
    .otherwise(pl.lit("Inactive"))
    .alias("activity_status")
])

In [129]:
df.group_by("activity_status").agg(pl.count())

shape: (2, 2)
┌─────────────────┬────────┐
│ activity_status ┆ count  │
│ ---             ┆ ---    │
│ str             ┆ u32    │
╞═════════════════╪════════╡
│ Active          ┆ 11922  │
│ Inactive        ┆ 138424 │
└─────────────────┴────────┘

| Goal                        | Method Used                     |
| --------------------------- | ------------------------------- |
| Categorize values           | `pl.when().then().otherwise()`  |
| Element-wise Python logic   | `pl.col().map_elements()`       |
| Combine fields into strings | `pl.struct(...).map_elements()` |

## <strong style="color:#5e17eb">  Map / Custom Functions</strong>

In [125]:
df = df.with_columns(
    pl.col("review_count").map_elements(
        lambda x: "Popular" if x > 500 else "Regular"
    ).alias("popularity")
)

In [126]:
df.group_by("popularity").agg(pl.count())

shape: (2, 2)
┌────────────┬────────┐
│ popularity ┆ count  │
│ ---        ┆ ---    │
│ str        ┆ u32    │
╞════════════╪════════╡
│ Regular    ┆ 148998 │
│ Popular    ┆ 1348   │
└────────────┴────────┘

In [122]:
df = df.with_columns([
    pl.when(pl.col("longitude") < -100).then(pl.lit("West"))
    .when(pl.col("longitude") > -80).then(pl.lit("East"))
    .otherwise(pl.lit("Central"))
    .alias("region")
])

df.select(["name", "longitude", "region"])

shape: (150_346, 3)
┌─────────────────────────────────┬─────────────┬─────────┐
│ name                            ┆ longitude   ┆ region  │
│ ---                             ┆ ---         ┆ ---     │
│ str                             ┆ f64         ┆ str     │
╞═════════════════════════════════╪═════════════╪═════════╡
│ Abby Rappoport, LAC, CMQ        ┆ -119.711197 ┆ West    │
│ Adams Dental                    ┆ -82.787412  ┆ Central │
│ Indian Walk Veterinary Center   ┆ -74.987496  ┆ East    │
│ Altitude Trampoline Park - Boi… ┆ -116.285382 ┆ West    │
│ Sierra Pro Events               ┆ -119.748395 ┆ West    │
│ …                               ┆ …           ┆ …       │
│ AMS Cars                        ┆ -86.325654  ┆ Central │
│ Specialists PC Endocrine        ┆ -75.136393  ┆ East    │
│ Papa John's Pizza               ┆ -90.052369  ┆ Central │
│ Verizon FiOS                    ┆ -75.170362  ┆ East    │
│ National Property Inspections   ┆ -74.93226   ┆ East    │
└─────────────────────────────────┴─────────────┴─────────┘

## <strong style="color:#5e17eb"> Summary </strong>

 **Goal: Build intelligent features or rules**
| **Sub-Topic**                  | **Description / Use**                  | **Example**                                      |
| ------------------------------ | -------------------------------------- | ------------------------------------------------ |
| **4.1 Conditional Columns**    | Create values based on `if/else` logic | `pl.when(...).then(...).otherwise(...)`          |
| **4.2 Binning / Bucketing**    | Create bins from continuous data       | `pl.when(pl.col("age") > 50).then("Old")`        |
| **4.3 Map / Custom Functions** | Apply custom logic                     | `df.with_columns(pl.col("x").map_elements(...))` |

 # <strong style="color:#5e17eb"> V.  Inspecting & Validating
 </strong>

## <strong style="color:#5e17eb"> View Schema </strong>

In [130]:
df.schema

Schema([('business_id', String),
        ('name', String),
        ('address', String),
        ('city', String),
        ('state', String),
        ('postal_code', String),
        ('latitude', Float64),
        ('longitude', Float64),
        ('stars', Float64),
        ('review_count', Int64),
        ('is_open', Int64),
        ('attributes', String),
        ('categories', String),
        ('hours', String),
        ('fill_name', String),
        ('fill_address', String),
        ('region', String),
        ('popularity', String),
        ('activity_status', String)])

## <strong style="color:#5e17eb"> Summary Stats </strong>

In [131]:
df.describe()

shape: (9, 20)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬─────────┬───────────┬───────────┐
│ statistic  ┆ business_ ┆ name      ┆ address   ┆ … ┆ fill_addr ┆ region  ┆ popularit ┆ activity_ │
│ ---        ┆ id        ┆ ---       ┆ ---       ┆   ┆ ess       ┆ ---     ┆ y         ┆ status    │
│ str        ┆ ---       ┆ str       ┆ str       ┆   ┆ ---       ┆ str     ┆ ---       ┆ ---       │
│            ┆ str       ┆           ┆           ┆   ┆ str       ┆         ┆ str       ┆ str       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═════════╪═══════════╪═══════════╡
│ count      ┆ 150346    ┆ 150346    ┆ 145219    ┆ … ┆ 150346    ┆ 150346  ┆ 150346    ┆ 150346    │
│ null_count ┆ 0         ┆ 0         ┆ 5127      ┆ … ┆ 0         ┆ 0       ┆ 0         ┆ 0         │
│ mean       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null    ┆ null      ┆ null      │
│ std        ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null    ┆ null      ┆ null      │
│ min        ┆ ---kPU91C ┆ Grow      ┆ #1088     ┆ … ┆ #1088     ┆ Central ┆ Popular   ┆ Active    │
│            ┆ F4Lq2-WlR ┆ Academy   ┆ Northgate ┆   ┆ Northgate ┆         ┆           ┆           │
│            ┆ u9Lw      ┆           ┆ Mail,     ┆   ┆ Mail,     ┆         ┆           ┆           │
│            ┆           ┆           ┆ 9499 137… ┆   ┆ 9499 137… ┆         ┆           ┆           │
│ 25%        ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null    ┆ null      ┆ null      │
│ 50%        ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null    ┆ null      ┆ null      │
│ 75%        ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null    ┆ null      ┆ null      │
│ max        ┆ zzyx5x0Z7 ┆ ​​Transform ┆ ​185 E     ┆ … ┆ ​185 E     ┆ West    ┆ Regular   ┆ Inactive  │
│            ┆ xXWWvWnZF ┆ ational   ┆ State St  ┆   ┆ State St  ┆         ┆           ┆           │
│            ┆ uxlQ      ┆ Abdominal ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆           ┆ M…        ┆           ┆   ┆           ┆         ┆           ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴─────────┴───────────┴───────────┘

## <strong style="color:#5e17eb">  Check Column Nulls </strong>

In [132]:
df.null_count()

shape: (1, 19)
┌─────────────┬──────┬─────────┬──────┬───┬──────────────┬────────┬────────────┬─────────────────┐
│ business_id ┆ name ┆ address ┆ city ┆ … ┆ fill_address ┆ region ┆ popularity ┆ activity_status │
│ ---         ┆ ---  ┆ ---     ┆ ---  ┆   ┆ ---          ┆ ---    ┆ ---        ┆ ---             │
│ u32         ┆ u32  ┆ u32     ┆ u32  ┆   ┆ u32          ┆ u32    ┆ u32        ┆ u32             │
╞═════════════╪══════╪═════════╪══════╪═══╪══════════════╪════════╪════════════╪═════════════════╡
│ 0           ┆ 0    ┆ 5127    ┆ 0    ┆ … ┆ 0            ┆ 0      ┆ 0          ┆ 0               │
└─────────────┴──────┴─────────┴──────┴───┴──────────────┴────────┴────────────┴─────────────────┘

`df.iter_columns()`
- Iterates over Series (each column) in the DataFrame.

In [8]:
for col in df.iter_columns():
    print(col.name, col.dtype, col[1:4])

business_id String shape: (3,)
Series: 'business_id' [str]
[
	"mpf3x-BjTdTEA3yCZrAYPw"
	"tUFrWirKiKi_TAnsVWINQQ"
	"MTSW4McQd7CbVtyjqoe9mw"
]
name String shape: (3,)
Series: 'name' [str]
[
	"The UPS Store"
	"Target"
	"St Honore Pastries"
]
address String shape: (3,)
Series: 'address' [str]
[
	"87 Grasso Plaza Shopping Cente…
	"5255 E Broadway Blvd"
	"935 Race St"
]
city String shape: (3,)
Series: 'city' [str]
[
	"Affton"
	"Tucson"
	"Philadelphia"
]
state String shape: (3,)
Series: 'state' [str]
[
	"MO"
	"AZ"
	"PA"
]
postal_code String shape: (3,)
Series: 'postal_code' [str]
[
	"63123"
	"85711"
	"19107"
]
latitude Float64 shape: (3,)
Series: 'latitude' [f64]
[
	38.551126
	32.223236
	39.955505
]
longitude Float64 shape: (3,)
Series: 'longitude' [f64]
[
	-90.335695
	-110.880452
	-75.155564
]
stars Float64 shape: (3,)
Series: 'stars' [f64]
[
	3.0
	3.5
	4.0
]
review_count Int64 shape: (3,)
Series: 'review_count' [i64]
[
	15
	22
	80
]
is_open Int64 shape: (3,)
Series: 'is_open' [i64]
[
	1
	0
	1
]
attributes String shape: (3,)
Series: 'attributes' [str]
[
	"{'BusinessAcceptsCreditCards':…
	"{'BikeParking': 'True', 'Busin…
	"{'RestaurantsDelivery': 'False…
]
categories String shape: (3,)
Series: 'categories' [str]
[
	"Shipping Centers, Local Servic…
	"Department Stores, Shopping, F…
	"Restaurants, Food, Bubble Tea,…
]
hours String shape: (3,)
Series: 'hours' [str]
[
	"{'Monday': '0:0-0:0', 'Tuesday…
	"{'Monday': '8:0-22:0', 'Tuesda…
	"{'Monday': '7:0-20:0', 'Tuesda…
]

| Function                  | What it Does                       | Returns            | Use Case                         |
| ------------------------- | ---------------------------------- | ------------------ | -------------------------------- |
| `with_column()`           | Add/modify one column              | New DataFrame      | Add a new computed field         |
| `with_columns([...])`     | Add/modify multiple columns        | New DataFrame      | Add several fields efficiently   |
| `iter_columns()`          | Iterate over Series (columns)      | Iterator of Series | Inspect or loop through columns  |
| `iter_columns_seq()`      | Indexable list of Series (columns) | Sequence of Series | Use indexing (`cols[0]`, etc.)   |
| `get_column("col")`       | Get a single column as Series      | `pl.Series`        | Direct column access (read-only) |
| `find_idx_by_name("col")` | Get column index                   | Integer            | Map name → position in DataFrame |

## <strong style="color:#5e17eb">  Unique / Value Counts</strong>

In [ ]:
df['attributes'].unique_counts()

shape: (87_662,)
Series: 'attributes' [u32]
[
	1598
	13744
	1
	184
	9385
	…
	1
	1
	1
	1
	1
]

## <strong style="color:#5e17eb"> Summary </strong>
**Goal: Check the structure and correctness**

| **Sub-Topic**                 | **Description / Use**           | **Example**                              |
| ----------------------------- | ------------------------------- | ---------------------------------------- |
| **5.1 View Schema**           | See column names and types      | `df.schema`                              |
| **5.2 Summary Stats**         | Quick stats for numeric columns | `df.describe()`                          |
| **5.3 Check Column Nulls**    | Check for missing values        | `df.null_count()`                        |
| **5.4 Unique / Value Counts** | Count distinct values           | `df.select(pl.col("category").unique())` |

<div style="text-align: center;">
  <h4 style="
    display: inline-block;
    color: #5e17eb;
    font-family: 'Segoe UI';
    border-left: 5px solid #5e17eb;
    background-color: #F8F9F9;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
  ">
  <b>
    Thank You 💜
    </b>
  </h4>
</div>