In [105]:
import polars as pl
from warnings import filterwarnings

filterwarnings('ignore')

In [106]:
df = pl.read_parquet(r"C:\Users\Rudra\Desktop\yelp\parquet-data\business.parquet")

In [107]:
user_lf = pl.scan_parquet(r"C:\Users\Rudra\Desktop\yelp\parquet-data\yelp_user.parquet")

In [108]:
df.sample(5)

shape: (5, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ vADvPGRUDV ┆ Panera    ┆ 7622      ┆ Nashville ┆ … ┆ 1       ┆ {'GoodFor ┆ Restauran ┆ {'Monday' │
│ pVdeprVoid ┆ Bread     ┆ Highway   ┆           ┆   ┆         ┆ Meal':    ┆ ts,       ┆ : '6:0-21 │
│ HQ         ┆           ┆ 70 S      ┆           ┆   ┆         ┆ "{'desser ┆ Salad,    ┆ :0',      │
│            ┆           ┆           ┆           ┆   ┆         ┆ t': F…    ┆ Coffee &  ┆ 'Tuesda…  │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ T…        ┆           │
│ g09Ynyo0ci ┆ Jiffy     ┆ 7969      ┆ Indianapo ┆ … ┆ 1       ┆ {'Busines ┆ Automotiv ┆ {'Monday' │
│ 0piXXTYnXO ┆ Lube      ┆ Pendleton ┆ lis       ┆   ┆         ┆ sAcceptsC ┆ e, Auto   ┆ : '8:0-19 │
│ aw         ┆           ┆ Pike      ┆           ┆   ┆         ┆ reditCard ┆ Repair,   ┆ :0',      │
│            ┆           ┆           ┆           ┆   ┆         ┆ s':…      ┆ Winds…    ┆ 'Tuesda…  │
│ 45tEG1Mkyc ┆ Bait      ┆ 46        ┆ Clearwate ┆ … ┆ 1       ┆ {'Busines ┆ Boat      ┆ null      │
│ YLfzS80qk_ ┆ House     ┆ Causeway  ┆ r         ┆   ┆         ┆ sAcceptsC ┆ Charters, ┆           │
│ kQ         ┆ Charters  ┆ Blvd      ┆           ┆   ┆         ┆ reditCard ┆ Event     ┆           │
│            ┆           ┆           ┆           ┆   ┆         ┆ s':…      ┆ Planning  ┆           │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ …         ┆           │
│ uzfRXzHPFO ┆ ABChiropr ┆ 2201 1st  ┆ Saint     ┆ … ┆ 1       ┆ {'Busines ┆ Sports    ┆ {'Monday' │
│ lXqE863Hjz ┆ actic     ┆ Capitol   ┆ Charles   ┆   ┆         ┆ sAcceptsC ┆ Medicine, ┆ : '8:0-18 │
│ qg         ┆ Family &  ┆ Dr, Ste   ┆           ┆   ┆         ┆ reditCard ┆ Chiroprac ┆ :30',     │
│            ┆ Wellne…   ┆ 100       ┆           ┆   ┆         ┆ s':…      ┆ tors…     ┆ 'Tuesd…   │
│ 3dR5YBWV5j ┆ CVS       ┆ 2100 66th ┆ Saint Pet ┆ … ┆ 1       ┆ {'Busines ┆ Drugstore ┆ {'Monday' │
│ b5yUd9bZGC ┆ Pharmacy  ┆ St N      ┆ ersburg   ┆   ┆         ┆ sParking' ┆ s, Conven ┆ : '7:0-0: │
│ fA         ┆           ┆           ┆           ┆   ┆         ┆ : "{'gara ┆ ience     ┆ 0',       │
│            ┆           ┆           ┆           ┆   ┆         ┆ ge'…      ┆ Stores…   ┆ 'Tuesday… │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘

# <strong style="color:#5e17eb"> 1. Common group_by Aggregations </strong>

In [109]:
df.with_columns([
    (pl.col("stars").mean()).alias("mean_starts"),
    (pl.col("stars").median()).alias("median_starts"),
])[['mean_starts', 'median_starts']].item

<bound method DataFrame.item of shape: (150_346, 2)
┌─────────────┬───────────────┐
│ mean_starts ┆ median_starts │
│ ---         ┆ ---           │
│ f64         ┆ f64           │
╞═════════════╪═══════════════╡
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ …           ┆ …             │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
│ 3.596724    ┆ 3.5           │
└─────────────┴───────────────┘>

In [110]:
df.select(pl.col("stars").sum()).item()

540753.0

In [111]:
df.select(pl.col("stars").n_unique())

shape: (1, 1)
┌───────┐
│ stars │
│ ---   │
│ u32   │
╞═══════╡
│ 9     │
└───────┘

In [112]:
df.select(pl.col("stars").unique())

shape: (9, 1)
┌───────┐
│ stars │
│ ---   │
│ f64   │
╞═══════╡
│ 1.0   │
│ 1.5   │
│ 2.0   │
│ 2.5   │
│ 3.0   │
│ 3.5   │
│ 4.0   │
│ 4.5   │
│ 5.0   │
└───────┘

## <strong style="color:#5e17eb"> Summary </strong>

**Common group_by Aggregations**


* `pl.count()` → count of rows
* `pl.col("col").mean()` → average
* `pl.col("col").sum()` → sum
* `pl.col("col").n_unique()` → unique count
* `pl.col("col").min()`, `pl.col("col").max()` → min/max
* `pl.col("col").first()`, `pl.col("col").last()` → first/last row
* `pl.col("col").list()` → all values in a list

# <strong style="color:#5e17eb"> 2. Basic group_by </strong>

## <strong style="color:#5e17eb">  Single Column </strong>

Find out mean of stars for each city

In [113]:
df.group_by("city").agg(
    (pl.col("stars").mean()).alias("stars_mean"),
)

shape: (1_416, 2)
┌───────────────────────────────┬────────────┐
│ city                          ┆ stars_mean │
│ ---                           ┆ ---        │
│ str                           ┆ f64        │
╞═══════════════════════════════╪════════════╡
│ Westmont - Haddon Towsship    ┆ 3.0        │
│ River Ridge                   ┆ 3.567568   │
│ Phila                         ┆ 3.083333   │
│ Casas Adobes                  ┆ 3.25       │
│ Kuna                          ┆ 3.625      │
│ …                             ┆ …          │
│ Pilot Sound Area West Portion ┆ 1.5        │
│ Swansea                       ┆ 3.37931    │
│ Bywater                       ┆ 4.0        │
│ Lansdale                      ┆ 4.0        │
│ Feasterville Trevose          ┆ 3.459596   │
└───────────────────────────────┴────────────┘

## <strong style="color:#5e17eb">  Multiple Columns </strong>

In [114]:
df.group_by(["state", "city"]).agg(
    pl.col("stars").mean()
)

shape: (1_467, 3)
┌───────┬──────────────────────┬──────────┐
│ state ┆ city                 ┆ stars    │
│ ---   ┆ ---                  ┆ ---      │
│ str   ┆ str                  ┆ f64      │
╞═══════╪══════════════════════╪══════════╡
│ IN    ┆ Lawrence Township    ┆ 4.5      │
│ IL    ┆ Scott Air Force Base ┆ 4.0      │
│ NJ    ┆ West Berlin          ┆ 3.376471 │
│ IN    ┆ Boone                ┆ 3.0      │
│ DE    ┆ Marshallton          ┆ 3.666667 │
│ …     ┆ …                    ┆ …        │
│ CA    ┆ West Hill            ┆ 5.0      │
│ PA    ┆ Sanatoga             ┆ 3.666667 │
│ PA    ┆ West Chester PA      ┆ 4.5      │
│ CA    ┆ Cerritos             ┆ 3.0      │
│ PA    ┆ Upper Pottsgrove     ┆ 3.0      │
└───────┴──────────────────────┴──────────┘

## <strong style="color:#5e17eb">Aggregation Functions  </strong>
- Mean, sum, count, min, max, median, etc.

In [115]:
df.filter(
    pl.col("state") == "PA"
).shape

(34039, 14)

Find out city on the NJ state, with average stars and total review of that city?

In [116]:
df.filter(pl.col("state") == "NJ") \
    .group_by(["state", "city"]) \
    .agg(
        pl.col("stars").mean().alias("avg_stars"),
        pl.col("review_count").sum().alias("total_review")
    )

shape: (239, 4)
┌───────┬──────────────────────┬───────────┬──────────────┐
│ state ┆ city                 ┆ avg_stars ┆ total_review │
│ ---   ┆ ---                  ┆ ---       ┆ ---          │
│ str   ┆ str                  ┆ f64       ┆ i64          │
╞═══════╪══════════════════════╪═══════════╪══════════════╡
│ NJ    ┆ Springfield          ┆ 3.0       ┆ 40           │
│ NJ    ┆ Hi Nella             ┆ 1.5       ┆ 5            │
│ NJ    ┆ Washington Twp       ┆ 4.0       ┆ 15           │
│ NJ    ┆ Titusville           ┆ 4.285714  ┆ 336          │
│ NJ    ┆ Southampton Township ┆ 3.375     ┆ 48           │
│ …     ┆ …                    ┆ …         ┆ …            │
│ NJ    ┆ Mickleton            ┆ 4.375     ┆ 37           │
│ NJ    ┆ Florence             ┆ 3.625     ┆ 209          │
│ NJ    ┆ Sewell               ┆ 3.517699  ┆ 5477         │
│ NJ    ┆ Elk Township         ┆ 4.0       ┆ 6            │
│ NJ    ┆ Tren                 ┆ 3.0       ┆ 10           │
└───────┴──────────────────────┴───────────┴──────────────┘

## <strong style="color:#5e17eb">  Multiple Aggregations</strong>

In [117]:
df.group_by("state").agg(
    pl.col("stars").mean().alias("mean_stars"),
    pl.col("stars").std().alias("std_stars"),
)

shape: (27, 3)
┌───────┬────────────┬───────────┐
│ state ┆ mean_stars ┆ std_stars │
│ ---   ┆ ---        ┆ ---       │
│ str   ┆ f64        ┆ f64       │
╞═══════╪════════════╪═══════════╡
│ VT    ┆ 4.5        ┆ null      │
│ MT    ┆ 5.0        ┆ null      │
│ TN    ┆ 3.5715     ┆ 0.996775  │
│ DE    ┆ 3.354967   ┆ 0.998587  │
│ IN    ┆ 3.588246   ┆ 0.978843  │
│ …     ┆ …          ┆ …         │
│ CO    ┆ 4.0        ┆ 0.5       │
│ MO    ┆ 3.546092   ┆ 0.971096  │
│ UT    ┆ 4.5        ┆ null      │
│ NV    ┆ 3.736876   ┆ 0.981113  │
│ MI    ┆ 2.5        ┆ null      │
└───────┴────────────┴───────────┘

## <strong style="color:#5e17eb">  Multiple Aggregations columns </strong>

In [118]:
df.group_by("state").agg(pl.all().mean())['state','stars', 'review_count']

shape: (27, 3)
┌───────┬──────────┬──────────────┐
│ state ┆ stars    ┆ review_count │
│ ---   ┆ ---      ┆ ---          │
│ str   ┆ f64      ┆ f64          │
╞═══════╪══════════╪══════════════╡
│ IL    ┆ 3.369697 ┆ 23.158974    │
│ MI    ┆ 2.5      ┆ 9.0          │
│ XMS   ┆ 4.0      ┆ 5.0          │
│ PA    ┆ 3.573019 ┆ 45.265431    │
│ MO    ┆ 3.546092 ┆ 44.341336    │
│ …     ┆ …        ┆ …            │
│ MA    ┆ 1.25     ┆ 21.5         │
│ UT    ┆ 4.5      ┆ 19.0         │
│ VT    ┆ 4.5      ┆ 10.0         │
│ NV    ┆ 3.736876 ┆ 53.136747    │
│ AZ    ┆ 3.59201  ┆ 41.630246    │
└───────┴──────────┴──────────────┘

## <strong style="color:#5e17eb"> Summary </strong>

 **Goal: Aggregate data by one or more columns**
 
 | **Sub-Topic**                        | **Description**                          | **Example (Yelp)**                                                         |
| ------------------------------------ | ---------------------------------------- | -------------------------------------------------------------------------- |
| **Single Column**                | Group by one column and summarize        | `df.group_by("city").agg(pl.col("stars").mean())`                           |
| **Multiple Columns**             | Group by more than one column            | `df.group_by(["state", "city"]).agg(pl.col("stars").mean())`                |
| **Aggregation Functions**        | Mean, sum, count, min, max, median, etc. | `df.group_by("state").agg(pl.col("review_count").sum())`                    |
| **Multiple Aggregations**        | Apply multiple functions to same col     | `df.group_by("state").agg([pl.col("stars").mean(), pl.col("stars").max()])` |
| **Aggregating Multiple Columns** | Summary across multiple columns          | `df.group_by("state").agg(pl.all().mean())`                                 |

# <strong style="color:#5e17eb"> 3. group_by with Expressions </strong>

## <strong style="color:#5e17eb">Derived Columns in Group  </strong>

In [119]:
# No null value in the review column
df.select(pl.col("review_count").is_null().sum()).item()

0

In [120]:
df['review_count'].describe()

shape: (9, 2)
┌────────────┬────────────┐
│ statistic  ┆ value      │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ count      ┆ 150346.0   │
│ null_count ┆ 0.0        │
│ mean       ┆ 44.866561  │
│ std        ┆ 121.120136 │
│ min        ┆ 5.0        │
│ 25%        ┆ 8.0        │
│ 50%        ┆ 15.0       │
│ 75%        ┆ 37.0       │
│ max        ┆ 7568.0     │
└────────────┴────────────┘

In [121]:
total_reviews = df["review_count"].sum()

df.group_by("city") \
    .agg([
        # Share of reviews (rounded to 2 decimals)
        (pl.col("review_count").sum() / total_reviews).round(2).alias("share"),

        # Average stars per city
        pl.col("stars").mean().round(2).alias("avg_stars"),

        # Average reviews per business in the city
        (pl.col("review_count").mean().round(1)).alias("review_per_business")
    ])

shape: (1_416, 4)
┌───────────────────┬───────┬───────────┬─────────────────────┐
│ city              ┆ share ┆ avg_stars ┆ review_per_business │
│ ---               ┆ ---   ┆ ---       ┆ ---                 │
│ str               ┆ f64   ┆ f64       ┆ f64                 │
╞═══════════════════╪═══════╪═══════════╪═════════════════════╡
│ Mount Royal       ┆ 0.0   ┆ 4.0       ┆ 24.0                │
│ Chestnut Hill     ┆ 0.0   ┆ 4.5       ┆ 35.7                │
│ Carney's Point    ┆ 0.0   ┆ 2.5       ┆ 32.0                │
│ Wilmington        ┆ 0.0   ┆ 4.5       ┆ 11.0                │
│ Mt.Juliet         ┆ 0.0   ┆ 2.0       ┆ 14.0                │
│ …                 ┆ …     ┆ …         ┆ …                   │
│ Bryn Athyn        ┆ 0.0   ┆ 4.07      ┆ 10.6                │
│ Cornwells Heights ┆ 0.0   ┆ 2.0       ┆ 8.5                 │
│ Charles           ┆ 0.0   ┆ 4.0       ┆ 7.0                 │
│ Mont Clare        ┆ 0.0   ┆ 4.17      ┆ 18.3                │
│ Tampa Florida     ┆ 0.0   ┆ 3.75      ┆ 23.0                │
└───────────────────┴───────┴───────────┴─────────────────────┘

## <strong style="color:#5e17eb"> Conditional Aggregation </strong>

In [122]:
df.group_by("state").agg(
    pl.col("stars")
        .filter(pl.col("is_open") == 1)
        .mean()
        .alias("open_avg_stars")
)

shape: (27, 2)
┌───────┬────────────────┐
│ state ┆ open_avg_stars │
│ ---   ┆ ---            │
│ str   ┆ f64            │
╞═══════╪════════════════╡
│ SD    ┆ 4.5            │
│ VI    ┆ null           │
│ XMS   ┆ 4.0            │
│ NC    ┆ null           │
│ MA    ┆ 1.25           │
│ …     ┆ …              │
│ CA    ┆ 4.076138       │
│ IL    ┆ 3.369972       │
│ ID    ┆ 3.73328        │
│ LA    ┆ 3.698541       │
│ UT    ┆ 4.5            │
└───────┴────────────────┘

In [123]:
# 2nd way to do this
df.filter(pl.col("is_open") == 1) \
    .group_by("state") \
    .agg(
        pl.col("stars").mean().alias("open_avg_stars")
    )

shape: (24, 2)
┌───────┬────────────────┐
│ state ┆ open_avg_stars │
│ ---   ┆ ---            │
│ str   ┆ f64            │
╞═══════╪════════════════╡
│ CA    ┆ 4.076138       │
│ TX    ┆ 2.875          │
│ DE    ┆ 3.365892       │
│ XMS   ┆ 4.0            │
│ NJ    ┆ 3.470915       │
│ …     ┆ …              │
│ MO    ┆ 3.567261       │
│ MA    ┆ 1.25           │
│ PA    ┆ 3.603579       │
│ VT    ┆ 4.5            │
│ AZ    ┆ 3.618833       │
└───────┴────────────────┘

## <strong style="color:#5e17eb"> Aggregating Unique Values </strong>

In [124]:
df.group_by("state").agg(
    pl.col("city").n_unique().alias("unique_cities")
)

shape: (27, 2)
┌───────┬───────────────┐
│ state ┆ unique_cities │
│ ---   ┆ ---           │
│ str   ┆ u32           │
╞═══════╪═══════════════╡
│ CA    ┆ 39            │
│ MA    ┆ 2             │
│ VI    ┆ 1             │
│ NV    ┆ 31            │
│ IN    ┆ 58            │
│ …     ┆ …             │
│ FL    ┆ 226           │
│ ID    ┆ 24            │
│ TX    ┆ 4             │
│ XMS   ┆ 1             │
│ CO    ┆ 3             │
└───────┴───────────────┘

## <strong style="color:#5e17eb"> Summary </strong>

**Goal: Use transformations inside group_by**

| **Sub-Topic**                     | **Description**                          | **Example (Yelp)**                                                                                       |
| --------------------------------- | ---------------------------------------- | -------------------------------------------------------------------------------------------------------- |
| **Derived Columns in Group**  | Create calculated metrics inside group_by | `df.group_by("city").agg((pl.col("review_count") / pl.col("review_count").sum()).alias("share"))`         |
| **Conditional Aggregation**   | Aggregate only subset of data            | `df.group_by("state").agg(pl.col("stars").filter(pl.col("is_open") == 1).mean().alias("open_avg_stars"))` |
| **Aggregating Unique Values** | Count distinct entries                   | `df.group_by("state").agg(pl.col("city").n_unique().alias("unique_cities"))`                              |

# <strong style="color:#5e17eb">  4. group_by with `group_by_dynamic`</strong>

- In this notebook we only focused on the *group_by_dynamic* works 
- In this **Polars Series** we discussed the date & time properly
- Before applying the functions always sort the values

- https://docs.pola.rs/api/python/stable/reference/dataframe/api/polars.DataFrame.group_by_dynamic.html

## <strong style="color:#5e17eb">  Date/Time Based </strong>

- For data and time we used yelp_user dataset
- First casting the data type

In [125]:
user_lf.select("yelping_since").limit(1).collect()

shape: (1, 1)
┌─────────────────────┐
│ yelping_since       │
│ ---                 │
│ str                 │
╞═════════════════════╡
│ 2007-01-25 16:47:26 │
└─────────────────────┘

In [126]:
user_lf = user_lf.with_columns(
    pl.col("yelping_since").str.strptime(pl.Datetime, format="%Y-%m-%d %H:%M:%S")
)

In [127]:
user_lf.select("yelping_since").limit(3).collect()

shape: (3, 1)
┌─────────────────────┐
│ yelping_since       │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2007-01-25 16:47:26 │
│ 2009-01-25 04:35:42 │
│ 2008-07-25 10:41:00 │
└─────────────────────┘

In [128]:
user_lf \
    .sort("yelping_since") \
    .group_by_dynamic(
        index_column="yelping_since",
        every='1y'
    ).agg(
        pl.col("review_count").sum().alias("total_reviews"),
        pl.count().alias("user_count")
    ).collect()

shape: (19, 3)
┌─────────────────────┬───────────────┬────────────┐
│ yelping_since       ┆ total_reviews ┆ user_count │
│ ---                 ┆ ---           ┆ ---        │
│ datetime[μs]        ┆ i64           ┆ u32        │
╞═════════════════════╪═══════════════╪════════════╡
│ 2004-01-01 00:00:00 ┆ 14577         ┆ 90         │
│ 2005-01-01 00:00:00 ┆ 226005        ┆ 937        │
│ 2006-01-01 00:00:00 ┆ 920176        ┆ 5423       │
│ 2007-01-01 00:00:00 ┆ 2011487       ┆ 15340      │
│ 2008-01-01 00:00:00 ┆ 3162898       ┆ 31097      │
│ …                   ┆ …             ┆ …          │
│ 2018-01-01 00:00:00 ┆ 938027        ┆ 133568     │
│ 2019-01-01 00:00:00 ┆ 559500        ┆ 104655     │
│ 2020-01-01 00:00:00 ┆ 197284        ┆ 47444      │
│ 2021-01-01 00:00:00 ┆ 112349        ┆ 40485      │
│ 2022-01-01 00:00:00 ┆ 3723          ┆ 2782       │
└─────────────────────┴───────────────┴────────────┘

## <strong style="color:#5e17eb"> Rolling Windows </strong>

In [129]:
user_lf \
    .sort("yelping_since") \
    .group_by_dynamic(
        index_column="yelping_since",
        every='6mo',
        period='2y',
    ).agg([
        pl.col("review_count").sum().alias("rolling_total_review"),
        pl.count().alias("user_in_window_of_6mo"),
    ]).collect()

shape: (36, 3)
┌─────────────────────┬──────────────────────┬───────────────────────┐
│ yelping_since       ┆ rolling_total_review ┆ user_in_window_of_6mo │
│ ---                 ┆ ---                  ┆ ---                   │
│ datetime[μs]        ┆ i64                  ┆ u32                   │
╞═════════════════════╪══════════════════════╪═══════════════════════╡
│ 2004-07-01 00:00:00 ┆ 576918               ┆ 2807                  │
│ 2005-01-01 00:00:00 ┆ 1146181              ┆ 6360                  │
│ 2005-07-01 00:00:00 ┆ 2012149              ┆ 12598                 │
│ 2006-01-01 00:00:00 ┆ 2931663              ┆ 20763                 │
│ 2006-07-01 00:00:00 ┆ 4065775              ┆ 31722                 │
│ …                   ┆ …                    ┆ …                     │
│ 2020-01-01 00:00:00 ┆ 309633               ┆ 87929                 │
│ 2020-07-01 00:00:00 ┆ 217676               ┆ 67300                 │
│ 2021-01-01 00:00:00 ┆ 116072               ┆ 43267                 │
│ 2021-07-01 00:00:00 ┆ 43515                ┆ 20977                 │
│ 2022-01-01 00:00:00 ┆ 3723                 ┆ 2782                  │
└─────────────────────┴──────────────────────┴───────────────────────┘

## <strong style="color:#5e17eb"> Summary </strong>

**Goal: Time-based or range-based grouping**


| **Sub-Topic**               | **Description**                             | **Example (Yelp)**                                                              |
| --------------------------- | ------------------------------------------- | ------------------------------------------------------------------------------- |
| **Date/Time Based**     | Aggregate per fixed time windows            | `df.group_by_dynamic("date_col", every="1mo").agg(pl.col("review_count").sum())` |
| **Rolling Windows**     | Use rolling intervals                       | `df.group_by_dynamic("date_col", every="7d", period="7d").agg(...)`              |

# <strong style="color:#5e17eb"> 5. group_by Advanced Methods  </strong>

## <strong style="color:#5e17eb">  `.over()` Window Functions</strong>

In [130]:
df['state'].n_unique()

27

In [131]:
df.with_columns(
    pl.col("stars").mean().over("state").alias("state_avg")
)['state','stars', 'state_avg']

shape: (150_346, 3)
┌───────┬───────┬───────────┐
│ state ┆ stars ┆ state_avg │
│ ---   ┆ ---   ┆ ---       │
│ str   ┆ f64   ┆ f64       │
╞═══════╪═══════╪═══════════╡
│ CA    ┆ 5.0   ┆ 3.996733  │
│ MO    ┆ 3.0   ┆ 3.546092  │
│ AZ    ┆ 3.5   ┆ 3.59201   │
│ PA    ┆ 4.0   ┆ 3.573019  │
│ PA    ┆ 4.5   ┆ 3.573019  │
│ …     ┆ …     ┆ …         │
│ AB    ┆ 3.0   ┆ 3.447515  │
│ TN    ┆ 4.0   ┆ 3.5715    │
│ IN    ┆ 3.5   ┆ 3.588246  │
│ IL    ┆ 4.0   ┆ 3.369697  │
│ FL    ┆ 4.5   ┆ 3.610957  │
└───────┴───────┴───────────┘

## <strong style="color:#5e17eb"> Sorting Inside Groups </strong>

In [132]:
df.group_by("state").agg(
    pl.col("review_count").mean().alias("avg_review_count")
).sort("avg_review_count", descending=True)

shape: (27, 2)
┌───────┬──────────────────┐
│ state ┆ avg_review_count │
│ ---   ┆ ---              │
│ str   ┆ f64              │
╞═══════╪══════════════════╡
│ LA    ┆ 74.886739        │
│ CA    ┆ 65.277148        │
│ NV    ┆ 53.136747        │
│ TN    ┆ 49.618033        │
│ PA    ┆ 45.265431        │
│ …     ┆ …                │
│ WA    ┆ 9.5              │
│ MI    ┆ 9.0              │
│ TX    ┆ 8.25             │
│ MT    ┆ 6.0              │
│ XMS   ┆ 5.0              │
└───────┴──────────────────┘

## <strong style="color:#5e17eb"> Keep First/Last in Groups </strong>

In [133]:
df.sort("state") \
    .group_by("state").agg(
        pl.col("stars").mean()
    ).limit(4)

shape: (4, 2)
┌───────┬──────────┐
│ state ┆ stars    │
│ ---   ┆ ---      │
│ str   ┆ f64      │
╞═══════╪══════════╡
│ AB    ┆ 3.447515 │
│ AZ    ┆ 3.59201  │
│ CA    ┆ 3.996733 │
│ CO    ┆ 4.0      │
└───────┴──────────┘

## <strong style="color:#5e17eb">  List Aggregation </strong>

In [134]:
df.group_by("state").agg(
    pl.col("city").alias("city_list")
)

shape: (27, 2)
┌───────┬─────────────────────────────────┐
│ state ┆ city_list                       │
│ ---   ┆ ---                             │
│ str   ┆ list[str]                       │
╞═══════╪═════════════════════════════════╡
│ IN    ┆ ["Indianapolis", "Indianapolis… │
│ DE    ┆ ["Wilmington", "Wilmington", …… │
│ CO    ┆ ["Vail", "Dumont", "Denver"]    │
│ AZ    ┆ ["Tucson", "Tucson", … "Tucson… │
│ MO    ┆ ["Affton", "Brentwood", … "Sai… │
│ …     ┆ …                               │
│ ID    ┆ ["Boise", "Meridian", … "Boise… │
│ VI    ┆ ["Tortola"]                     │
│ LA    ┆ ["New Orleans", "Kenner", … "N… │
│ VT    ┆ ["Bennington"]                  │
│ WA    ┆ ["Spokane", "College Place"]    │
└───────┴─────────────────────────────────┘

## <strong style="color:#5e17eb"> Summary </strong>

 **Goal: Go beyond simple aggregation**

| **Sub-Topic**                      | **Description**                         | **Example (Yelp)**                                                         |
| ---------------------------------- | --------------------------------------- | -------------------------------------------------------------------------- |
| **`.over()` Window Functions** | Running stats without collapsing groups | `df.with_columns(pl.col("stars").mean().over("state").alias("state_avg"))` |
| **Sorting Inside Groups**      | Sort by a metric within groups          | `df.group_by("state").agg(pl.col("review_count").sort(descending=True))`    |
| **Keep First/Last in Groups**  | Top/bottom rows in each group           | `df.group_by("state").agg(pl.col("stars").first())`                         |
| **List Aggregation**           | Keep group data as lists                | `df.group_by("state").agg(pl.col("city").alias("cities_list"))`             |

# <strong style="color:#5e17eb"> 6. Looping over Groups </strong>

## <strong style="color:#5e17eb"> Convert to Pandas Loop </strong>

In [135]:
for group_key, group_df in df.group_by("state"):
    print(group_key, group_df.limit(1))

('HI',) shape: (1, 14)
┌────────────┬────────────┬────────────┬───────────┬───┬─────────┬────────────┬────────────┬───────┐
│ business_i ┆ name       ┆ address    ┆ city      ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours │
│ d          ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---   │
│ ---        ┆ str        ┆ str        ┆ str       ┆   ┆ i64     ┆ str        ┆ str        ┆ str   │
│ str        ┆            ┆            ┆           ┆   ┆         ┆            ┆            ┆       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═════════╪════════════╪════════════╪═══════╡
│ bw90rjFL02 ┆ Cosmetic   ┆ 1010 Lula  ┆ Lula Lula ┆ … ┆ 1       ┆ {'Business ┆ Cosmetic   ┆ null  │
│ A_8rVE34m5 ┆ Solutions  ┆ Lula Dr    ┆           ┆   ┆         ┆ AcceptsCre ┆ Surgeons,  ┆       │
│ Lg         ┆            ┆            ┆           ┆   ┆         ┆ ditCards': ┆ Pizza,     ┆       │
│            ┆            ┆            ┆           ┆   ┆         ┆ …          ┆ Doct…      ┆       │
└────────────┴────────────┴────────────┴───────────┴───┴─────────┴────────────┴────────────┴───────┘
('ID',) shape: (1, 14)
┌────────────┬────────────┬────────────┬───────┬───┬─────────┬────────────┬────────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city  ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ i64     ┆ str        ┆ str        ┆ str       │
│ str        ┆            ┆            ┆       ┆   ┆         ┆            ┆            ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═════════╪════════════╪════════════╪═══════════╡
│ fvWn8oXXwb ┆ Altitude   ┆ 1301 N     ┆ Boise ┆ … ┆ 1       ┆ {'Business ┆ Trampoline ┆ {'Monday' │
│ j2l79cochZ ┆ Trampoline ┆ Milwaukee  ┆       ┆   ┆         ┆ Parking':  ┆ Parks,     ┆ : '10:0-2 │
│ yw         ┆ Park -     ┆ St         ┆       ┆   ┆         ┆ "{'garage' ┆ Active     ┆ 0:0',     │
│            ┆ Boi…       ┆            ┆       ┆   ┆         ┆ …          ┆ Life       ┆ 'Tuesd…   │
└────────────┴────────────┴────────────┴───────┴───┴─────────┴────────────┴────────────┴───────────┘
('NJ',) shape: (1, 14)
┌────────────┬────────────┬────────────┬────────┬───┬─────────┬────────────┬───────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city   ┆ … ┆ is_open ┆ attributes ┆ categorie ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---    ┆   ┆ ---     ┆ ---        ┆ s         ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str    ┆   ┆ i64     ┆ str        ┆ ---       ┆ str       │
│ str        ┆            ┆            ┆        ┆   ┆         ┆            ┆ str       ┆           │
╞════════════╪════════════╪════════════╪════════╪═══╪═════════╪════════════╪═══════════╪═══════════╡
│ lwItZ1Ck3K ┆ Stomel     ┆ 532 Rte 70 ┆ Cherry ┆ … ┆ 1       ┆ null       ┆ DUI Law,  ┆ {'Monday' │
│ tpCgG4CPFm ┆ Elliot Att ┆ W, Fl 2    ┆ Hill   ┆   ┆         ┆            ┆ Professio ┆ : '0:0-0: │
│ pQ         ┆ orney-At-L ┆            ┆        ┆   ┆         ┆            ┆ nal       ┆ 0',       │
│            ┆ aw         ┆            ┆        ┆   ┆         ┆            ┆ Services… ┆ 'Tuesday… │
└────────────┴────────────┴────────────┴────────┴───┴─────────┴────────────┴───────────┴───────────┘
('SD',) shape: (1, 14)
┌─────────────┬────────┬─────────────┬───────┬───┬─────────┬─────────────┬────────────┬────────────┐
│ business_id ┆ name   ┆ address     ┆ city  ┆ … ┆ is_open ┆ attributes  ┆ categories ┆ hours      │
│ ---         ┆ ---    ┆ ---         ┆ ---   ┆   ┆ ---     ┆ ---         ┆ ---        ┆ ---        │
│ str         ┆ str    ┆ str         ┆ str   ┆   ┆ i64     ┆ str         ┆ str        ┆ str        │
╞═════════════╪════════╪═════════════╪═══════╪═══╪═════════╪═════════════╪════════════╪════════════╡
│ RXW3WsOBAks ┆ K Soho ┆ 715 S       ┆ Tampa ┆ … ┆ 1       ┆ {'Restauran ┆ Beauty &   ┆ {'Tuesday' │
│ pYaJ96GRQUg ┆ Salon  ┆ Howard Ave, ┆       ┆   ┆         ┆ tsPriceRang ┆ Spas, Hair ┆ : '10:0-18 │
│             ┆        ┆ Ste 100     ┆       ┆   ┆         ┆ e2': '2'…   ┆ Salons,    ┆ :30',      │
│             ┆        ┆             ┆       ┆   ┆         ┆             ┆ Ma…        ┆ 'Wed…      │
└─────────────┴────────┴─────────────┴───────┴───┴─────────┴─────────────┴────────────┴────────────┘
('FL',) shape: (1, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ qkRM_2X51Y ┆ Temple    ┆ 400       ┆ St. Peter ┆ … ┆ 1       ┆ null      ┆ Synagogue ┆ {'Monday' │
│ qxk3btlwAQ ┆ Beth-El   ┆ Pasadena  ┆ sburg     ┆   ┆         ┆           ┆ s,        ┆ : '9:0-17 │
│ Ig         ┆           ┆ Ave S     ┆           ┆   ┆         ┆           ┆ Religious ┆ :0',      │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ Organiza… ┆ 'Tuesda…  │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘
('AZ',) shape: (1, 14)
┌─────────────┬────────┬─────────────┬────────┬───┬─────────┬────────────┬────────────┬────────────┐
│ business_id ┆ name   ┆ address     ┆ city   ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours      │
│ ---         ┆ ---    ┆ ---         ┆ ---    ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---        │
│ str         ┆ str    ┆ str         ┆ str    ┆   ┆ i64     ┆ str        ┆ str        ┆ str        │
╞═════════════╪════════╪═════════════╪════════╪═══╪═════════╪════════════╪════════════╪════════════╡
│ tUFrWirKiKi ┆ Target ┆ 5255 E      ┆ Tucson ┆ … ┆ 0       ┆ {'BikePark ┆ Department ┆ {'Monday': │
│ _TAnsVWINQQ ┆        ┆ Broadway    ┆        ┆   ┆         ┆ ing':      ┆ Stores,    ┆ '8:0-22:0' │
│             ┆        ┆ Blvd        ┆        ┆   ┆         ┆ 'True',    ┆ Shopping,  ┆ , 'Tuesda… │
│             ┆        ┆             ┆        ┆   ┆         ┆ 'Busin…    ┆ F…         ┆            │
└─────────────┴────────┴─────────────┴────────┴───┴─────────┴────────────┴────────────┴────────────┘
('UT',) shape: (1, 14)
┌──────────────┬──────────────┬─────────┬───────┬───┬─────────┬──────────────┬─────────────┬───────┐
│ business_id  ┆ name         ┆ address ┆ city  ┆ … ┆ is_open ┆ attributes   ┆ categories  ┆ hours │
│ ---          ┆ ---          ┆ ---     ┆ ---   ┆   ┆ ---     ┆ ---          ┆ ---         ┆ ---   │
│ str          ┆ str          ┆ str     ┆ str   ┆   ┆ i64     ┆ str          ┆ str         ┆ str   │
╞══════════════╪══════════════╪═════════╪═══════╪═══╪═════════╪══════════════╪═════════════╪═══════╡
│ f-S2Y0OO00cQ ┆ Find Your    ┆ null    ┆ Eagle ┆ … ┆ 1       ┆ {'ByAppointm ┆ Health &    ┆ null  │
│ jo8yj3upKg   ┆ Zen          ┆         ┆       ┆   ┆         ┆ entOnly':    ┆ Medical,    ┆       │
│              ┆              ┆         ┆       ┆   ┆         ┆ 'True', …    ┆ Fitness &   ┆       │
│              ┆              ┆         ┆       ┆   ┆         ┆              ┆ In…         ┆       │
└──────────────┴──────────────┴─────────┴───────┴───┴─────────┴──────────────┴─────────────┴───────┘
('NC',) shape: (1, 14)
┌─────────────┬──────┬─────────────┬───────┬───┬─────────┬─────────────┬─────────────┬─────────────┐
│ business_id ┆ name ┆ address     ┆ city  ┆ … ┆ is_open ┆ attributes  ┆ categories  ┆ hours       │
│ ---         ┆ ---  ┆ ---         ┆ ---   ┆   ┆ ---     ┆ ---         ┆ ---         ┆ ---         │
│ str         ┆ str  ┆ str         ┆ str   ┆   ┆ i64     ┆ str         ┆ str         ┆ str         │
╞═════════════╪══════╪═════════════╪═══════╪═══╪═════════╪═════════════╪═════════════╪═════════════╡
│ em474WuTw7- ┆ IHOP ┆ 702 Blowing ┆ Boone ┆ … ┆ 0       ┆ {'Alcohol': ┆ Breakfast & ┆ {'Monday':  │
│ OkhPfX4EohA ┆      ┆ Rock Rd     ┆       ┆   ┆         ┆ "'none'",   ┆ Brunch,     ┆ '0:0-0:0',  │
│             ┆      ┆             ┆       ┆   ┆         ┆ 'Restaur…   ┆ Coffee & T… ┆ 'Tuesday…   │
└─────────────┴──────┴─────────────┴───────┴───┴─────────┴─────────────┴─────────────┴─────────────┘
('MO',) shape: (1, 14)
┌────────────┬────────────┬────────────┬────────┬───┬─────────┬────────────┬───────────┬───────────┐
│ business_i ┆ name       ┆ address    ┆ city   ┆ … ┆ is_open ┆ attributes ┆ categorie ┆ hours     │
│ d          ┆ ---        ┆ ---        ┆ ---    ┆   ┆ ---     ┆ ---        ┆ s         ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str    ┆   ┆ i64     ┆ str        ┆ ---       ┆ str       │
│ str        ┆            ┆            ┆        ┆   ┆         ┆            ┆ str       ┆           │
╞════════════╪════════════╪════════════╪════════╪═══╪═════════╪════════════╪═══════════╪═══════════╡
│ mpf3x-BjTd ┆ The UPS    ┆ 87 Grasso  ┆ Affton ┆ … ┆ 1       ┆ {'Business ┆ Shipping  ┆ {'Monday' │
│ TEA3yCZrAY ┆ Store      ┆ Plaza      ┆        ┆   ┆         ┆ AcceptsCre ┆ Centers,  ┆ : '0:0-0: │
│ Pw         ┆            ┆ Shopping   ┆        ┆   ┆         ┆ ditCards': ┆ Local     ┆ 0',       │
│            ┆            ┆ Cente…     ┆        ┆   ┆         ┆ …          ┆ Servic…   ┆ 'Tuesday… │
└────────────┴────────────┴────────────┴────────┴───┴─────────┴────────────┴───────────┴───────────┘
('IL',) shape: (1, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ LcAozWCMLG ┆ Edwardsvi ┆ 722       ┆ Edwardsvi ┆ … ┆ 1       ┆ {'GoodFor ┆ Museums,  ┆ {'Monday' │
│ jwRbokaJAK ┆ lle Child ┆ Holyoake  ┆ lle       ┆   ┆         ┆ Kids':    ┆ Kids Acti ┆ : '10:0-1 │
│ Mg         ┆ ren's     ┆ Rd        ┆           ┆   ┆         ┆ 'True',   ┆ vities,   ┆ 5:0',     │
│            ┆ Museum    ┆           ┆           ┆   ┆         ┆ 'Busin…   ┆ Arts…     ┆ 'Tuesd…   │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘
('VT',) shape: (1, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ g0fYqQRRKm ┆ All       ┆ 212       ┆ Benningto ┆ … ┆ 1       ┆ {'Busines ┆ Oil       ┆ {'Monday' │
│ YIfChE4jML ┆ Service   ┆ Lincoln   ┆ n         ┆   ┆         ┆ sAcceptsC ┆ Change    ┆ : '0:0-0: │
│ sg         ┆ Citgo     ┆ St        ┆           ┆   ┆         ┆ reditCard ┆ Stations, ┆ 0',       │
│            ┆           ┆           ┆           ┆   ┆         ┆ s':…      ┆ Automotiv ┆ 'Tuesday… │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ …         ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘
('PA',) shape: (1, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ MTSW4McQd7 ┆ St Honore ┆ 935 Race  ┆ Philadelp ┆ … ┆ 1       ┆ {'Restaur ┆ Restauran ┆ {'Monday' │
│ CbVtyjqoe9 ┆ Pastries  ┆ St        ┆ hia       ┆   ┆         ┆ antsDeliv ┆ ts, Food, ┆ : '7:0-20 │
│ mw         ┆           ┆           ┆           ┆   ┆         ┆ ery':     ┆ Bubble    ┆ :0',      │
│            ┆           ┆           ┆           ┆   ┆         ┆ 'False…   ┆ Tea,…     ┆ 'Tuesda…  │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘
('LA',) shape: (1, 14)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name      ┆ address   ┆ city      ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str       ┆ str       ┆ str       ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆           ┆           ┆           ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ M0XSSHqrAS ┆ Herb      ┆ 712 Adams ┆ New       ┆ … ┆ 1       ┆ {'Busines ┆ Vape      ┆ {'Monday' │
│ OnhgbWDJIp ┆ Import Co ┆ St        ┆ Orleans   ┆   ┆         ┆ sParking' ┆ Shops,    ┆ : '10:0-1 │
│ QA         ┆           ┆           ┆           ┆   ┆         ┆ : "{'gara ┆ Tobacco   ┆ 9:0',     │
│            ┆           ┆           ┆           ┆   ┆         ┆ ge'…      ┆ Shops,    ┆ 'Tuesd…   │
│            ┆           ┆           ┆           ┆   ┆         ┆           ┆ Per…      ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘
('MA',) shape: (1, 14)
┌─────────────┬─────────┬─────────────┬───────────┬───┬─────────┬─────────────┬────────────┬───────┐
│ business_id ┆ name    ┆ address     ┆ city      ┆ … ┆ is_open ┆ attributes  ┆ categories ┆ hours │
│ ---         ┆ ---     ┆ ---         ┆ ---       ┆   ┆ ---     ┆ ---         ┆ ---        ┆ ---   │
│ str         ┆ str     ┆ str         ┆ str       ┆   ┆ i64     ┆ str         ┆ str        ┆ str   │
╞═════════════╪═════════╪═════════════╪═══════════╪═══╪═════════╪═════════════╪════════════╪═══════╡
│ NJXvZ25bka5 ┆ United  ┆ 110 Kimball ┆ Lynnfield ┆ … ┆ 1       ┆ {'BusinessA ┆ Local      ┆ null  │
│ hHEPa3PmJVA ┆ Parcel  ┆ Ln          ┆           ┆   ┆         ┆ cceptsCredi ┆ Services,  ┆       │
│             ┆ Service ┆             ┆           ┆   ┆         ┆ tCards':…   ┆ Shipping   ┆       │
│             ┆         ┆             ┆           ┆   ┆         ┆             ┆ Cente…     ┆       │
└─────────────┴─────────┴─────────────┴───────────┴───┴─────────┴─────────────┴────────────┴───────┘
('IN',) shape: (1, 14)
┌────────────┬─────────┬────────────┬────────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name    ┆ address    ┆ city       ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---     ┆ ---        ┆ ---        ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str     ┆ str        ┆ str        ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆         ┆            ┆            ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪═════════╪════════════╪════════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ il_Ro8jwPl ┆ Denny's ┆ 8901 US 31 ┆ Indianapol ┆ … ┆ 1       ┆ {'Restaur ┆ American  ┆ {'Monday' │
│ Hresjw9EGm ┆         ┆ S          ┆ is         ┆   ┆         ┆ antsReser ┆ (Traditio ┆ : '6:0-22 │
│ Bg         ┆         ┆            ┆            ┆   ┆         ┆ vations': ┆ nal),     ┆ :0',      │
│            ┆         ┆            ┆            ┆   ┆         ┆ 'F…       ┆ Restau…   ┆ 'Tuesda…  │
└────────────┴─────────┴────────────┴────────────┴───┴─────────┴───────────┴───────────┴───────────┘
('WA',) shape: (1, 14)
┌──────────────┬───────┬──────────────┬─────────┬───┬─────────┬──────────────┬─────────────┬───────┐
│ business_id  ┆ name  ┆ address      ┆ city    ┆ … ┆ is_open ┆ attributes   ┆ categories  ┆ hours │
│ ---          ┆ ---   ┆ ---          ┆ ---     ┆   ┆ ---     ┆ ---          ┆ ---         ┆ ---   │
│ str          ┆ str   ┆ str          ┆ str     ┆   ┆ i64     ┆ str          ┆ str         ┆ str   │
╞══════════════╪═══════╪══════════════╪═════════╪═══╪═════════╪══════════════╪═════════════╪═══════╡
│ kNK3tjrKa6e_ ┆ Suave ┆ 4013 N       ┆ Spokane ┆ … ┆ 1       ┆ {'BikeParkin ┆ Beauty &    ┆ null  │
│ Tf9c9WWehA   ┆ Nails ┆ Market St    ┆         ┆   ┆         ┆ g': 'True',  ┆ Spas, Nail  ┆       │
│              ┆       ┆              ┆         ┆   ┆         ┆ 'Busin…      ┆ Salons      ┆       │
└──────────────┴───────┴──────────────┴─────────┴───┴─────────┴──────────────┴─────────────┴───────┘
('NV',) shape: (1, 14)
┌────────────┬────────────┬────────────┬──────┬───┬─────────┬────────────┬────────────┬────────────┐
│ business_i ┆ name       ┆ address    ┆ city ┆ … ┆ is_open ┆ attributes ┆ categories ┆ hours      │
│ d          ┆ ---        ┆ ---        ┆ ---  ┆   ┆ ---     ┆ ---        ┆ ---        ┆ ---        │
│ ---        ┆ str        ┆ str        ┆ str  ┆   ┆ i64     ┆ str        ┆ str        ┆ str        │
│ str        ┆            ┆            ┆      ┆   ┆         ┆            ┆            ┆            │
╞════════════╪════════════╪════════════╪══════╪═══╪═════════╪════════════╪════════════╪════════════╡
│ 9OG5YkX1g2 ┆ Romano's   ┆ 5505 S     ┆ Reno ┆ … ┆ 1       ┆ {'Restaura ┆ Restaurant ┆ {'Monday': │
│ GReZM0Aski ┆ Macaroni   ┆ Virginia   ┆      ┆   ┆         ┆ ntsGoodFor ┆ s, Italian ┆ '11:0-22:0 │
│ zA         ┆ Grill      ┆ St         ┆      ┆   ┆         ┆ Groups':   ┆            ┆ ', 'Tuesd… │
│            ┆            ┆            ┆      ┆   ┆         ┆ '…         ┆            ┆            │
└────────────┴────────────┴────────────┴──────┴───┴─────────┴────────────┴────────────┴────────────┘
('AB',) shape: (1, 14)
┌────────────┬────────────┬───────────┬──────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ business_i ┆ name       ┆ address   ┆ city     ┆ … ┆ is_open ┆ attribute ┆ categorie ┆ hours     │
│ d          ┆ ---        ┆ ---       ┆ ---      ┆   ┆ ---     ┆ s         ┆ s         ┆ ---       │
│ ---        ┆ str        ┆ str       ┆ str      ┆   ┆ i64     ┆ ---       ┆ ---       ┆ str       │
│ str        ┆            ┆           ┆          ┆   ┆         ┆ str       ┆ str       ┆           │
╞════════════╪════════════╪═══════════╪══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ WKMJwqnfZK ┆ Roast Coff ┆ 10359 104 ┆ Edmonton ┆ … ┆ 0       ┆ {'Outdoor ┆ Coffee &  ┆ {'Monday' │
│ sAae75RMP6 ┆ eehouse    ┆ Street NW ┆          ┆   ┆         ┆ Seating': ┆ Tea,      ┆ : '8:0-18 │
│ jA         ┆ and Wine   ┆           ┆          ┆   ┆         ┆ 'False',  ┆ Food,     ┆ :0',      │
│            ┆ Bar        ┆           ┆          ┆   ┆         ┆ 'C…       ┆ Cafes,    ┆ 'Tuesda…  │
│            ┆            ┆           ┆          ┆   ┆         ┆           ┆ Bar…      ┆           │
└────────────┴────────────┴───────────┴──────────┴───┴─────────┴───────────┴───────────┴───────────┘
('TN',) shape: (1, 14)

## <strong style="color:#5e17eb"> Process in Lazy Mode </strong>

- Use `.collect()` during the lazy mode

In [136]:
user_lf.head(2).collect()

shape: (2, 22)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ user_id    ┆ name   ┆ review_cou ┆ yelping_s ┆ … ┆ complimen ┆ complimen ┆ complimen ┆ complimen │
│ ---        ┆ ---    ┆ nt         ┆ ince      ┆   ┆ t_cool    ┆ t_funny   ┆ t_writer  ┆ t_photos  │
│ str        ┆ str    ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆        ┆ i64        ┆ datetime[ ┆   ┆ i64       ┆ i64       ┆ i64       ┆ i64       │
│            ┆        ┆            ┆ μs]       ┆   ┆           ┆           ┆           ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ qVc8ODYU5S ┆ Walker ┆ 585        ┆ 2007-01-2 ┆ … ┆ 467       ┆ 467       ┆ 239       ┆ 180       │
│ ZjKXVBgXdI ┆        ┆            ┆ 5         ┆   ┆           ┆           ┆           ┆           │
│ 7w         ┆        ┆            ┆ 16:47:26  ┆   ┆           ┆           ┆           ┆           │
│ j14WgRoU_- ┆ Daniel ┆ 4333       ┆ 2009-01-2 ┆ … ┆ 3131      ┆ 3131      ┆ 1521      ┆ 1946      │
│ 2ZE1aw1dXr ┆        ┆            ┆ 5         ┆   ┆           ┆           ┆           ┆           │
│ Jg         ┆        ┆            ┆ 04:35:42  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## <strong style="color:#5e17eb">  Apply Functions to Each Group</strong>

### <strong style="color:#5e17eb"> A. Using map_groups() </strong>

In [137]:
# Custom logic: Weighted average stars per city
df.group_by("city") \
    .map_groups(
        lambda group_df: pl.DataFrame(
            {
                "city" : [group_df["city"][0]],
                "weighted_avg_stars" : [
                    (group_df["stars"] * group_df["review_count"]).sum() / group_df["review_count"].sum()
                ]
            }
        )
    )

shape: (1_416, 2)
┌───────────────────┬────────────────────┐
│ city              ┆ weighted_avg_stars │
│ ---               ┆ ---                │
│ str               ┆ f64                │
╞═══════════════════╪════════════════════╡
│ St Charles        ┆ 3.616321           │
│ Florence          ┆ 3.440191           │
│ Radnor            ┆ 3.786667           │
│ Newcastle         ┆ 2.0                │
│ Treasure Is       ┆ 3.676667           │
│ …                 ┆ …                  │
│ Town 'n' Country  ┆ 4.684211           │
│ frazer            ┆ 2.5                │
│ Burlington        ┆ 3.388544           │
│ Mt Laurel Twp, NJ ┆ 3.5                │
│ Havertown, PA     ┆ 1.0                │
└───────────────────┴────────────────────┘

### <strong style="color:#5e17eb">  Multiple custom calculations</strong>

In [138]:
df.group_by("state") \
    .map_groups(
        lambda g : pl.DataFrame(
            {
                "state" : [g["state"][0]],
                "avg_stars" : [g["stars"].mean()],
                "popularity_score" : [g["review_count"].max() * g["stars"].mean()],
            }
        )
    )

shape: (27, 3)
┌───────┬───────────┬──────────────────┐
│ state ┆ avg_stars ┆ popularity_score │
│ ---   ┆ ---       ┆ ---              │
│ str   ┆ f64       ┆ f64              │
╞═══════╪═══════════╪══════════════════╡
│ SD    ┆ 4.5       ┆ 189.0            │
│ IL    ┆ 3.369697  ┆ 1964.533333      │
│ VI    ┆ 2.5       ┆ 25.0             │
│ CA    ┆ 3.996733  ┆ 15323.472996     │
│ FL    ┆ 3.610957  ┆ 11771.720091     │
│ …     ┆ …         ┆ …                │
│ HI    ┆ 4.25      ┆ 72.25            │
│ DE    ┆ 3.354967  ┆ 2489.38543       │
│ IN    ┆ 3.588246  ┆ 8012.55277       │
│ PA    ┆ 3.573019  ┆ 20441.242751     │
│ ID    ┆ 3.707634  ┆ 6710.817103      │
└───────┴───────────┴──────────────────┘

### <strong style="color:#5e17eb"> Conditional inside group </strong>

In [139]:
df.filter(pl.col("is_open") == 1) \
.group_by("state") \
    .map_groups(
        lambda g : pl.DataFrame(
            {
                "state" : [g["state"][0]],
                "open_avg_stars" : [g["stars"].mean()],
            }
        )
    )

shape: (24, 2)
┌───────┬────────────────┐
│ state ┆ open_avg_stars │
│ ---   ┆ ---            │
│ str   ┆ f64            │
╞═══════╪════════════════╡
│ TX    ┆ 2.875          │
│ MO    ┆ 3.567261       │
│ CA    ┆ 4.076138       │
│ SD    ┆ 4.5            │
│ DE    ┆ 3.365892       │
│ …     ┆ …              │
│ MA    ┆ 1.25           │
│ XMS   ┆ 4.0            │
│ AZ    ┆ 3.618833       │
│ PA    ┆ 3.603579       │
│ NJ    ┆ 3.470915       │
└───────┴────────────────┘

## <strong style="color:#5e17eb"> Summary </strong>

**Goal: Process each group separately**


| **Sub-Topic**                         | **Description**                        | **Example (Yelp)**                                                                          |
| ------------------------------------- | -------------------------------------- | ------------------------------------------------------------------------------------------- |
| **Convert to Pandas Loop**        | Use `df.group_by()` and iterate (eager) | `for group_key, group_df in df.group_by("state"):`                                           |
| **Process in Lazy Mode**          | Use `.collect()` after filtering       | `for state in df.select("state").unique().to_series(): df.filter(pl.col("state") == state)` |
| **Apply Functions to Each Group** | Run custom function over groups        | Custom Python function with `.map_groups()` *(in Rust backend)*                             |

<div style="text-align: center;">
  <h4 style="
    display: inline-block;
    color: #5e17eb;
    font-family: 'Segoe UI';
    border-left: 5px solid #5e17eb;
    background-color: #F8F9F9;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
  ">
  <b>
    Thank You 💜
    </b>
  </h4>
</div>